loguru==0.6.0
joblib==1.2.0
scikit-learn==1.2.2 
faiss-cpu==1.8.0
umap-learn==0.5.5
lolP==0.0.4
seaborn==0.12.2
networkx==2.8.8
standardiser==0.1.9
exmol==3.0.3
pytdc==0.4.1
tqdm==4.66.1
numpy==1.23.5
protobuf==3.19.5
python-Levenshtein==0.25.0
dask[dataframe]==2024.4.1